*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.header{
	width:100%;
	height: 80px;
	display: block;
	background-color: #C9082A;
}
.inner_header{
	overflow: hidden;
	width: 85%;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: #C9082A;
}
.logo_box{
	height: 100%;
	display: table;
	float: left;
}
.logo_box h1{
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat';
	font-size: 32px;
	font-weight: 200;
}
.logo_box h1 span{
	font-weight: 800;
}
.navigation{
	float: right;
	height: 100%;
}
.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}
.navigation a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat';
	font-size: 16px;
}
.navigation a:hover, .dropdown:hover .dropbtn, .footer_navigation a:hover{
	background-color: black;
}
.dropdown{
	float: left;
	overflow: hidden;
}
.dropdown .dropbtn {
	height: 80px;
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;

}
.dropdown .dropbtn a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}
.dropdown .dropbtn a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat';
	font-size: 16px;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #101010;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a{
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.footer_navigation{
	height: 100%;
}
.footer_navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}
.footer_navigation a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat';
	font-size: 16px;
}
h2{
	text-align: center;
}
.location{
	float: right;
	width: 40%;
	bottom: 0;
	text-align: center;
	padding-bottom: 80px;
}
.cleanvid {
	text-align: center;
	width: 40%;
	bottom: 0;
	padding-bottom: 80px;
	float: left;
	font-size: 20px;
	padding-right: 10%;
}
.big-btn {
    width: 30%;
    height: 200px;
}
.services {
	float: right;
	padding-right: 10%;
	box-sizing: border-box;
}
.services h2{
	text-align: left;
}
.statement{
	padding-left: 35%;
	padding-right: 35%;
	text-align: center;
	font-size: 20px;
}
.cost{
	clear:left;
	padding-left: 10px;
}
.contact{
	text-align: center;
	padding-top: 10%;
}

.list_container{
	margin: 20px 30px;
}
.list_container h1 {
	padding: 10px 0px;
}

.notes {
	font-style: italic;
	font-size: 10pt;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	max-width: 80%;
}
th, td {
	border: 1px solid black;
	padding: 5px 7px;
}
th {
	background-color: #bbbbbb;
}

tr:nth-child(odd) {
	background-color: #eeeeee;
}

tr:hover{
	background-color: #aaaaaa;
}

.crud {
	border: 1px solid #111111;
	display: inline-block;
	padding: 10px 10px 10px 5px;
	margin: 10px 30px;
}

.crud p, .crud input {
	margin-left: 5px;
	padding: 2px;
}

.footer{
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #17408B;
	color: #C9082A;
	text-align: center;
}
